#cedit-content {
    overflow: scroll;
    height: 440px;
    resize: none;
}

.cedit-title {
    font-size: large;
}

.checkbox-grid {
    display: block;
    overflow: auto;
}

.checkbox-grid li {
    float: left;
    width: 50%;
    display: inline-block;
}