<div [hidden]="!visible" class="cedit-form">
    <form [hidden]="params != 1">
        <div class="form-group">
            <label>Book title: <input type="text" class="form-control"></label>
        </div>
        <div class="form-group">
            <label>Author: <input type="text" class="form-control"></label>
        </div>
        <div class="form-group">
            <label>Publication year: <input type="text" class="form-control"></label>
        </div>
        <div class="form-group">
            <label>Publisher: <input type="text" class="form-control"></label>
        </div>
        <div class="form-group">
            <label>ISBN: <input type="text" class="form-control"></label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default" (click)="hide()">Ok</button>
        </div>
    </form>

    <!-- ------------------------------------------ -->

    <form [hidden]="params != 2">
        <div class="form-group">
            <label>Select proficiency level:
            <select class="form-control">
                <option>A1</option>
                <option>A2</option>
                <option>B1</option>
                <option>B2</option>
                <option>C1</option>
                <option>C2</option>
            </select>
            </label>
        </div>
        <div class="form-group">
            <label>Assign ID
            <input type="text" class="form-control">
            </label>
        </div>
        <div class="form-group">
            <label>Title, if applicable
                <input type="text" class="form-control">
            </label>
        </div>
    </form>
</div>