<div class="row">
<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <p>
        <b>Lärka</b> - "<span class="highlight">LÄR</span> språket via
        <span class="highlight">K</span>orpus<span class="highlight">A</span>nalys" -
        with its English equivalent "Lark" (<span class="highlight">L</span>anguage <span class="highlight">A</span>cquisition
        <span class="highlight">R</span>eusing <span class="highlight">K</span>orp) - is a freely
        available online platform developed in <a href="">Språkbanken</a> for learning Swedish and
        Swedish linguistics.
    </p>
    <p>
        LärkaLabb, the version of Lärka under active development, currently includes:
    </p>
    <ul>
        <li>exercises for linguists (e.g. parts of speech)</li>
        <li>exercises for learners (e.g. word guessing)</li>
        <li>Texteval, a text difficulty evaluation for Swedish as a second (or foreign) language</li>
        <li>Hit-Ex, a sentence selection tool</li>
        <li>Cefrit, an annotation editor</li>
    </ul>
</div>

<div id="twitterfeed" class="col-lg-4 col-md-4 hidden-sm hidden-xs"></div>

</div>