<div id="scene">
    <script language="JavaScript" type="text/javascript" src="https://vhss-d.oddcast.com/vhost_embed_functions_v2.php?acc=3429790&js=1"></script><script language="JavaScript" type="text/javascript">AC_VHost_Embed(3429790,300,400,'',1,1, 2531143, 0,1,0,'7440f8e747d510028892ea205f721dd7',0);</script>
<!--
    <script language="JavaScript" type="text/javascript" src="http://vhss-d.oddcast.com/vhost_embed_functions_v2.php?acc=3429790&js=1"></script>
    <script language="JavaScript" type="text/javascript">AC_VHost_Embed(3429790,300,400,'',1,1, 2531128, 0,1,0,'1dd1458a7700133fdd9408b1dd42ac39',0);</script>
    -->
    <button type="button" onclick="sayText('Det var inte min plan.',3,9,4)">Pronounce</button>
</div>