<!--Test page-->

<!--<div *ngIf="id">Current ID: {{id}}</div>
<button class="btn btn-default" (click)="getUserInfo()">Get ID</button>
-->

<!-- IVONA test -->
<!-- Nuance test -->
<!--<button type="button" (click)="ttstest()">Click to test TTS</button>-->

<!-- Tree Kernel test -->
<!--<treekernel></treekernel>-->

<!-- Hangbird test -->
<!--<hangbird-image></hangbird-image>-->

<!-- Vocab MC test -->
<!--<voc-mc></voc-mc>-->

<!--
<input type="text" #uiu>
<button type="button" (click)="hash(uiu.value)"></button>
-->

<!-- Profile fillout -->
<!--<profile-fillout></profile-fillout>-->

<!-- Diagnostic demo -->
<!--<dia-test></dia-test>-->
<!--<gap-doublet [s1l]="start1" [s1r]="end1" [s2l]="start2" [s2r]="end2"></gap-doublet>-->

<!-- Enelett demo -->
<!--<enelett></enelett>-->

<!-- EnetCOLLECT demo -->
<enetcollect></enetcollect>

<!-- unused files -->
<diagnostic-test></diagnostic-test>
