
<div>
  <h2>Information collected by Lärka/Labb</h2>
</div>

<div>
  <h3>
    Definition of terms
  </h3>

  <p>
    <b>Non-personal information</b>
  </p>
  <p>
    Non-personal information refers to information that cannot be used to identify you in any way.
  </p>

  <p>
    <b>This site</b>
  </p>
  <p>
    <i>This site</i> refers to Lärka (https://spraakbanken.gu.se/larka) and LärkaLabb (https://spraakbanken.gu.se/larkalabb)
  </p>

  <p>
    <b>User</b>
  </p>
  <p>
    User refers to any person using this web site.
  </p>
</div>
<div>
  <h3>Data saved locally</h3>

  <p>
    This site saves non-personal information on the user's device to improve the user experience.
    This information includes language preference.
  </p>
</div>

<div>
  <h3>Data saved remotely</h3>

  <p>
    This site saves answers to exercises on the server. All information collected is anonymous.

    This site also collects information about the user client used to access the web site, such as browser name,
    browser version, operating system and screen size in order to improve the user experience across devices.
  </p>
</div>
<div>
  <h3>Data collection purposes</h3>

  <p>
    This site collects data for research purposes.
  </p>
</div>
